<!-- футер -->
  
<footer class="site-footer">
  <div class="container footer-wrap">
    <div class="footer-img">
      <img src="https://livedemo00-joomla.template-help.com/joomla_prod-21749_v1/images/footer-img.jpg" alt="" class="footer__pic">
    </div>
    <div class="footer-content">
      <p class="footer-content__title title-second">NESLETTER SIGN UP</p>
      <p class="footer-content__txt">SIGN UP NOW TO RECEIVE HOT SPECIAL OFFERS AND INFORMATION ABOUT THE BEST TOURS!</p>
      <div class="footer-content-form">
        <input type="text" class="footer-content-form__form" placeholder="Sign up on news">
        <button class="footer-content-form__button"><i class="fa fa-chevron-circle-right"></i></button>
      </div>
    </div>
  </div>
  <div class="footer-bot">
    <div class="container footer-bot-wrap">
      <a href="#/" class="footer-logo">
        <img src="https://livedemo00-joomla.template-help.com/joomla_prod-21749_v1/templates/theme3672/images/logo.png" alt="" class="header__logo">
      </a>
      <p class="footer-bot__copyright">Copyright © 2019. All Rights Reserved</p>
      <div class="footer-bot-soc-links">
        <a href="#/"><i class="fab fa-facebook-f"></i></a>
        <a href="#/"><i class="fab fa-twitter"></i></a>
        <a href="#/"><i class="fab fa-google-plus-g"></i></a>
      </div>
    </div>
  </div>
</footer>