<header class="site-header">
	<div class="container header-wrap">
		<a href="#/" class="header-logo">
			<img src="https://livedemo00-joomla.template-help.com/joomla_prod-21749_v1/templates/theme3672/images/logo.png" alt="" class="header__logo">
		</a>
		<nav class="header-menu">
			<a href="#/" class="header-menu__link site-link">Home</a>
			<a href="#/" class="header-menu__link site-link">About</a>
			<a href="#/" class="header-menu__link site-link">Pages</a>
			<a href="#/" class="header-menu__link site-link">Blog</a>
			<a href="#/" class="header-menu__link site-link">Gallery</a>
			<a href="#/" class="header-menu__link site-link">Contact</a>
			<div class="header-search">
				<span class="header-search__icon lnr lnr-magnifier"></span>
			</div>
		</nav>
		<a href="#my-menu" class="hamburger hamburger--spring">
			<span class="hamburger-box"><span class="hamburger-inner"></span></span>
		</a>

		<nav id="my-menu">
			<ul>
				<li> <a href="/"> Главная </a></li>
			</ul>
		</nav>
	</div>
</header>


