<!-- главный слайдер -->
  
<section>    
    <div class="main-screen">
      <div class="container">
        <h1 class="main-screen__title title-one">Exploring<br> <span>the world</span></h1>
      </div>
    </div>
</section>

<!-- второй экран -->

<section class="explore site-section">
  <div class="container explore-wrap">
    <div class="explore-heading">
      <h2 class="explore-heading__title title-second">EXPLORE A DIFFERENT WAY TO TRAVEL</h2>
      <p class="explore-heading__par">Discover new cultures and have a wonderful rest with Backpack Story! Select the country you’d like to visit and provide our agents with estimated time – they’ll find and offer the most suitable tours and hotels.</p>
      <p class="explore-heading__par">During our work we organized countless journeys for our clients. We started as a small tour bureau, and soon we expanded our offers list. Today we have valuable experience travelling and we can advise the most stunning resorts, cities and countries to visit!</p>
      <img src="https://livedemo00-joomla.template-help.com/joomla_prod-21749_v1/images/caption.png" alt="" class="explore-heading__autograph">
    </div>
    <div class="explore-media">
      <div class="explore-media-item">
        <img src="https://livedemo00-joomla.template-help.com/joomla_prod-21749_v1/images/page1-img1.jpg" alt="" class="explore-media__pic explore-media__pic--one">
      </div>
      <div class="explore-media-item">
        <img src="https://livedemo00-joomla.template-help.com/joomla_prod-21749_v1/images/page1-img2.jpg" alt="" class="explore-media__pic explore-media__pic--second">
      </div>
    </div>
  </div>
</section>

<!-- Кавычки -->

<section class="site-section quoterbox">
  <div class="quoterbox-bg"></div>
  <div class="container quoterbox-wrap">
    <div class="quoterbox-video">
      <div class="quoterbox-video-img">
        <div class="quoterbox__video-btn"></div>
      </div>
    </div>
    <div class="quoterbox-blockquote">
      <div class="quoterbox-blockquote-heading">
        <p class="quoterbox-blockquote__text title-third">Travel early and travel often. Live abroad, if you can. Understand cultures other than your own. As your understanding of other cultures increases, your understanding of yourself and your own culture will increase exponentially.</p>
        <p class="quoterbox-blockquote__footer">A good traveler has no fixed plans, and is not intent on arriving.</p>
      </div>
    </div>
  </div>
</section>

<!-- Особенности -->

<section class="site-section achivments">
  <div class="container achivments-wrap">
    
    <div class="achivments-heading">
      <h3 class="achivments-heading__title title-second">01.BEST HOTELS</h3>
      <p class="achivments-heading__text">We guarantee the best hotels and very comfortable rooms, which will be appreciated by every traveller. You will be absolutely happy with the hotel and will have a wonderful vacation there.</p>
    </div>
    <div class="achivments-heading">
      <h3 class="achivments-heading__title title-second">02.TOURIST GUIDE</h3>
      <p class="achivments-heading__text">We provide our clients with such a service as Tourist Guide. Its main goal is to ensure people with all necessary information any time he needs. This service is similar to Customer Support with emphasis on travelling.</p>
    </div>
    <div class="achivments-heading">
      <h3 class="achivments-heading__title title-second">03.FLIGHTS TICKETS</h3>
      <p class="achivments-heading__text">You can book tickets on any plane online via our booking system. Here you have an opportunity to select your transport operator. Our representatives will help you with the details.</p>
    </div>
    
  </div>
</section>

<!-- туры -->

<section class="site-section tours">
  <div class="tours-bg"></div>
  <div class="container">
    <div class="tours-grid">
      <div class="tours-item tours-canada">
        <a href="#/" class="tours-item__link">Canada tours</a>
        <p class="tours-item__price">from <span>$1500</span></p>
      </div>
      <div class="tours-item tours-asia">
        <a href="#/" class="tours-item__link">Asia tours</a>
        <p class="tours-item__price">from <span>$1100</span></p>
      </div>
      <div class="tours-item tours-vietnam">
        <a href="#/" class="tours-item__link">Vietnam tours</a>
        <p class="tours-item__price">from <span>$1200</span></p>
      </div>
      <div class="tours-item tours-europe">
        <a href="#/" class="tours-item__link">Europe tours</a>
        <p class="tours-item__price">from <span>$1600</span></p>
      </div>
    </div>
  </div>
</section>

<!-- сервисы -->

<section class="site-section services">
  <div class="container services-wrap">
    <div class="services-heading">
      <h2 class="services-heading__title title-second">WE ARE EXPLOORE</h2>
      <p class="services-heading__txt">Let us curate an inspiring experience as you enjoy a personally-themed adventure with a professional guide catered to your interests. Whether a one-day trip or multi-trip journey, you’ll be privileged to enjoy this ultimate luxury to explore Europe with an expert, as well as the unique bird’s eye views from a helicopter in Europe, including Rome, the Dalmation Coast, Paris, Prague and 20 top destinations</p>
    </div>
    <div class="services-links">
      <div class="services-links-column">
        <a href="#/" class="services-links__link site-link">First Class Flights</a>
        <a href="#/" class="services-links__link site-link">5 Star Accommodations</a>
        <a href="#/" class="services-links__link site-link">Inclusive Packages</a>
        <a href="#/" class="services-links__link site-link">Latest Model Vehicles</a>
        <a href="#/" class="services-links__link site-link">Handpicked Hotels</a>
      </div>
      <div class="services-links-column">
        <a href="#/" class="services-links__link site-link">Accesibility managment</a>
        <a href="#/" class="services-links__link site-link">10 Languages available</a>
        <a href="#/" class="services-links__link site-link">+120 Premium city tours</a>
        <a href="#/" class="services-links__link site-link">Accesibility managment</a>
        <a href="#/" class="services-links__link site-link">+120 Premium city tours</a>
      </div>
    </div>
  </div>
</section>

<!-- вторая цитата -->

<section class="site-section quoter">
  <div class="container quoter-wrap">
    <div class="quoter-blockquote">
      <div class="blockquote blockquote--big">
        <p class="quoter__txt">Time travel used to be thought of as just science fiction, but Einstein's general theory of relativity allows for the possibility that we could warp space-time so much that you could go off in a rocket and return before you set out.</p>
        <p class="blockquote__footer">Travel becomes a strategy for accumulating photographs.</p>
      </div>
    </div>
  </div>
</section>

<!-- блог -->

<section class="site-section posts">
  <div class="container">
    <h2 class="title-second">THE BLOG POSTS</h2>
    <div class="posts-carousel owl-carousel owl-theme">
      <div class="posts-box-item">
        <a href="#/" class="site-link">
          <img src="https://livedemo00-joomla.template-help.com/joomla_prod-21749_v1/images/blog/blog-thumb7.jpg" alt="" class="posts-box-item__pic">
        </a>
        <p class="posts-box-item__date">January 24, 2019</p>
        <a href="" class="posts-box-item__link site-link">5 PLACES TO VISIT THIS WINTER</a>
        <p class="posts-box-item__txt">New Year and Christmas holidays is a great occasion to travel somewhere. You can either go somewhere with you family or friends, or even alone.</p>
      </div>
      <div class="posts-box-item">
        <a href="#/" class="site-link">
          <img src="https://livedemo00-joomla.template-help.com/joomla_prod-21749_v1/images/blog/blog-thumb6.jpg" alt="" class="posts-box-item__pic">
        </a>
        <p class="posts-box-item__date">January 22, 2019</p>
        <a href="" class="posts-box-item__link site-link">BUDGET TRIPS FOR WINTER BREAK</a>
        <p class="posts-box-item__txt">Budget trip doesn’t mean boring! There are numerous places worth visiting even if you don’t have much money. The golden sands of Florida and California</p>
      </div>
      <div class="posts-box-item">
        <a href="#/" class="site-link">
          <img src="https://livedemo00-joomla.template-help.com/joomla_prod-21749_v1/images/blog/blog-thumb5.jpg" alt="" class="posts-box-item__pic">
        </a>
        <p class="posts-box-item__date">January 14, 2019</p>
        <a href="" class="posts-box-item__link site-link">WALKING TO MACHU PICCHU, PERU</a>
        <p class="posts-box-item__txt">Machu Picchu is mysterious and attractive place for all tourists visiting Peru. If you agree to take this path you need to know more information</p>
      </div>
    </div>
  </div>
</section>